<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>You Know What Time It Is</title>
    <script src="https://unpkg.com/react@^16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.13.0/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <!-- Fake favicon, to avoid extra request to server -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <div id="root"></div>
    <!-- <script type="text/babel" src="./time.js"></script>
    <script type="text/babel" src="./clock.js"></script>
    <script type="text/babel" src="./app.js"></script> -->
    <script type="text/babel">
      class Clock extends React.Component {
        render () {
          return this.props.time.toString()
        }
      }
      class App extends React.Component {
        state = {
          time: new Date()
        }

        // TODO: Talk about memory leaks tomorrow
        componentDidMount () {
          // save this for things like API calls or network request
          // as well as subscribing....
          // console.log('componentDidMount called')

          setInterval(() => {
            this.setState(() => {
              return {
                time: new Date()
              }
            })
          }, 1000)
        }

        // updateTime () {
        //   // console.log('updateTime called')
        // }
        render () {
          // after the construcrtor ran I will render
          // As well as any time state changes
          // console.log('render called')
          // console.log(this.state)
          const howManyPixels = 88
          return (
            <React.Fragment>
              <Clock example='Tj' time={this.state.time} />
              <p
                className='some-paragraph'
                style={{ fontSize: `${howManyPixels}px` }}
              >
                Sap bruhhhh
              </p>
            </React.Fragment>
          )
        }
      }
      ReactDOM.render(<App />, document.getElementById('root'))
    </script>
  </body>
</html>
