#login-form{display:flex;flex-direction:column;max-width:20em}#menu{background-color:#87cefa;display:flex;justify-content:space-between;align-items:center;padding:0 1em;border-radius:1em}#menu-links{display:flex;padding-left:1em}#menu-links a{padding-right:.5em;color:#00008b;text-decoration:underline;cursor:pointer}
/*# sourceMappingURL=main.f84fec71.chunk.css.map */